

.contattami {
display: flex;
width: 100%;
height: 350px;
/* background:rgb(245,144,145); */
background: rgb(36,200,150);
position: relative;
align-items: center;
justify-content: center;
padding-top: 30px;
}

.testo1Contattati {
position: absolute;
top: 20px;
font-size: 30px;
width: 100%;
text-align: center;
color: white;
}

.fumettiniBig{
margin-left: -40px;
}

.fumettini {
left: 40px;
position: relative;
background: rgb(245, 144,145);
width:200px;
height: 200px;
border-radius: 50%;
box-shadow: 5px 5px 10px 2px #333333;
}


.emailSection{
  width: 450px;
  height: 230px;
  background: rgb(36,120,300);
  box-shadow: 5px 5px 10px 2px #333333;
  border-radius: 5px;
}

.emailIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.mailContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.mailDiv {
  display: flex;
  justify-content: center;
}

.testoInserisci {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.emailUser {
  border: none;
  height: 40px;
  width: 200px;
}


.emailSubmit {
font-size: 20px;
font-weight: bold;
background: #ffd000;
color: black;
border:none;
width: 60px;
line-height: 40px;
text-align: center;
}



@media (min-width:720px) and (max-width:849px) {
  .testo1Contattati {
  padding: 0px 10px;
  top: 30px;
  font-size: 25px;
  }
}

@media (min-width:650px) and (max-width:719px) {
  .testo1Contattati {
  padding: 0px 10px;
  top: 30px;
  font-size: 23px;

  }


}

@media (min-width:530px) and (max-width:649px) {
  .contattami {
  height: 220px;
  }

  .testo1Contattati {
  padding: 0px 5px;
  top: 15px;
  font-size: 19px;
  }

  .fumettiniBig{
    margin-left: -80px;
  }

.fumettini {
  transform: scale(0.7);
/* ..... */
left: 100px;
position: relative;
z-index: 1;
}

  .emailSection{
    transform: scale(0.7);
    height: 200px;
  }

  .emailIcon {
    margin-top: 1%;
    transform: scale(0.8);
  }

  .mailDiv{
    transform: scale(1.1);
  }

}

@media (min-width:487px) and (max-width:529px) {
  .contattami {
  height: 250px;
  padding-top: 50px;
  }

  .testo1Contattati {
  padding: 0px 65px;
  top: 15px;
  font-size: 19px;
  }

  .fumettiniBig{
    margin-left: -80px;
  }

.fumettini {
  transform: scale(0.7);
/* ..... */
left: 100px;
position: relative;
z-index: 1;
}

  .emailSection{
    transform: scale(0.7);
    height: 200px;
  }

  .emailIcon {
    margin-top: 1%;
    transform: scale(0.8);
  }

  .mailDiv{
    transform: scale(1.1);
  }

  }

  @media (min-width:445px) and (max-width:486px) {
    .contattami {
    height: 250px;
    padding-top: 50px;
position: relative;
    }

    .testo1Contattati {
    padding: 0px 65px;
    top: 15px;
    font-size: 19px;
    }

    .fumettiniBig{
      position: absolute;
      /* margin-left: -60px; */
      left: -10px;
    }

  .fumettini {
    transform: scale(0.7);

  z-index: 1;
  }

    .emailSection{
      transform: scale(0.7);
      height: 200px;
      position: absolute;
      right: -50px;
    }



    .emailIcon {
      margin-top: 1%;
      transform: scale(0.8);
    }

    .mailDiv{
      transform: scale(1.1);
    }

    }

    @media (min-width:424px) and (max-width:444px) {
      .contattami {
      height: 250px;
      padding-top: 60px;
  position: relative;
      }

      .testo1Contattati {
        padding: 0px 30px;
        top: 15px;
        font-size: 18px;
      }

      .fumettiniBig{
        position: absolute;
        left: -10px;
        transform: scale(0.8);
        z-index: 1
      }

    .fumettini {
      transform: scale(0.7);
      z-index: 1;
      position: absolute;
      top: -145px;
      left:60px;

    }

      .emailSection{
        transform: scale(0.7);
        height: 200px;
        /* position: absolute;
        right: -50%; */
        display: block;
        margin-left: auto;
        margin-right: auto;
      }



      .emailIcon {
        margin-top: 1%;
        transform: scale(0.8);
      }

      .mailDiv{
        transform: scale(1.1);
      }

      }

      @media (min-width:350px) and (max-width:423px) {
        .contattami {
        height: 400px;
        padding-top: 170px;
      position: relative;
      display:block;
      align-items: none;
      justify-content: none;
        }


        .testo1Contattati {
          padding: 0px 20px;
          top: 30px;
          font-size: 25px;
        }

        .fumettiniBig{
          position: absolute;
          left: -10px;
          transform: scale(0.8);
          z-index: 1;

        }

      .fumettini {
        transform: scale(0.9);
        z-index: 1;
        position: absolute;
        top: -80px;
        left:70px;


      }

        .emailSection{
          transform: translateX(-50%) scale(1);
          /* now */
          height: 200px;
          /* position: absolute;
          right: -50%; */
          position: absolute;
          left: 50%;

          width: 90%;
        }

        .emailIcon {
          margin-top: 1%;
          transform: scale(0.8);
          padding-left:20px;
        }
      }

        @media (min-width:0px) and (max-width:349px) {
          .contattami {
          height: 250px;
          padding-top: 60px;
        position: relative;
          }

          .testo1Contattati {
            padding: 0px 10px;
            top: 15px;
            font-size: 18px;
          }

          .fumettiniBig{
            position: absolute;
            left: -10px;
            transform: scale(0.8);
            z-index: 1
          }

        .fumettini {
          transform: scale(0.5);
          z-index: 1;
          position: absolute;
          top: -150px;
          left:40px;

        }

          .emailSection{
            transform: scale(0.7);
            height: 200px;
            /* position: absolute;
            right: -50%; */
            display: block;
            margin-left: auto;
            margin-right: auto;
          }


        .emailIcon {
          margin-top: 1%;
          transform: scale(0.8);
        }

        .mailDiv{
          transform: scale(1);
        }

        }


.fumetto {
  position: absolute;
  transform: scale(1.3);

}

.fumetto1 {
      left:70px;
      top:50px;
      width:35px;
      height: 35px;
      animation: eii 2s infinite;
      /* box-shadow: 5px 5px 10px 2px #333333; */
    }

.fumetto2 {
  left:100px;
  top:100px;
  width:35px;
  height: 35px;
  animation: eii 4s infinite 1s;
          /* box-shadow: 5px 5px 10px 2px #333333; */
  }

  .fumetto3 {
        left:0px;
        top:30px;
        width:50px;
        height: 50px;
        animation: eii 4s infinite 0.5s;
        /* box-shadow: 5px 5px 10px 2px #333333; */
      }

      .fumetto4 {
            left:110px;
            top:10px;
            width:50px;
            height: 50px;
            animation: eii 3s infinite;
            /* box-shadow: 5px 5px 10px 2px #333333; */
          }

          .fumetto5 {
                left:20px;
                top:110px;
                width:50px;
                height: 50px;
                animation: eii 3s infinite;
                /* box-shadow: 5px 5px 10px 2px #333333; */
              }
              .fumetto6 {
                    left:140px;
                    top:140px;
                    width:50px;
                    height: 50px;
                    animation: eii 3s infinite;
                    /* box-shadow: 5px 5px 10px 2px #333333; */
                  }

  .quadratino {
    position:absolute;
    width:5px;
    height:5px;
    animation: eii 3s infinite;
    box-shadow: 4px 3px 10px 2px #333333;

  }

    .quadratino1{
      background: yellow;
      top:10%;
      left:50%;
      animation: eii 1s infinite;

    }

      .quadratino2{
        background: yellow;
        top:35%;
        left:75%;
        animation: eii 2s infinite;

      }

        .quadratino3{
          background: yellow;
          top:45%;
          left:35%;
          animation: eii 1s infinite;

        }

          .quadratino4{
            background: yellow;
            top:80%;
            left:60%;
            animation: eii 2s infinite;

          }

  .quadratetto {
    position:absolute;
    width: 6px;
    height: 6px;
    background: white;
    box-shadow: 5px 5px 10px 2px #333333;

  }


  .quadratetto1 {
    top:20%;
    left:30%;
    animation: eii 1s infinite;

  }

  .quadratetto2 {
    top:60%;
    left:10%;
    animation: eii 2s infinite;

  }

  .quadratetto3 {
    top:60%;
    left:80%;
    animation: eii 1s infinite;

  }

  .quadratetto4 {
    top:80%;
    left:30%;
    animation: eii 2s infinite;

  }


    @keyframes eii {
    50%{
      transform: rotate(50deg);
      }
    }
