

.blogDiv h2 {
  position: relative;
  top: 200px;
  margin-left: 100px;
  font-size: 14vw;
  color:black;
  -webkit-text-stroke:0.3vw black;
  text-transform: uppercase;
  letter-spacing: 10px;

}


.blogDiv h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left:0;
  width:0;
  height: 100%;
  color:red;
  -webkit-text-stroke:0vw black;
  border-right: 2px solid red;
  overflow: hidden;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%, 10%, 100% {
    width:0%;
  }

  70%, 90% {
    width:100%;
  }
}
