* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

body {
  height: 2000px;
  /* background-image:url(images/home.png); */
  /* background-repeat:no-repeat;
  background-size: cover; */
background: white;
font-family: 'Montserrat', sans-serif;

}



#naviga {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: black;
  position: absolute;
  position: fixed;
  top: 0px;
  z-index: 2;
  box-shadow: 5px 5px 10px 2px #333333;
}


#logo {
  font-size: 30px;
  border: 1px solid white;
  color: white;
  padding: 1%;
  margin-left: 1.5%;
  font-weight: lighter;
  transform: scale(1);
  transition:0.5s;
}

#logo:hover {
  transform: scale(1.03);
  transition: 0.5s;
  border-color: red;
  color: red;
  cursor: pointer;
}


#menu {
  list-style: none;
  display: flex;
  text-decoration: none;
}


li {
  margin-right: 10px;
}


li a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.contenitoreVideo{
  position: absolute;
  top: 570px;
  z-index: 1;
  width: 100%;
  height: 150px;
  background: pink;
  overflow: hidden;
}

.video{
position: absolute;
  width: 100%;
  top: -355px;
}

.vid {
  width: 100%;
}

.text-animation {
  position: absolute;
  font-size: 30px;
  border: 1px solid red;
  color: red;
  padding: 1%;
  font-weight: lighter;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  cursor: default;
}

.blogDiv {
  background-image:url(cc.png);
  margin-top: 20px;
  width: 100%;
  height: 675px;
  position: fixed;
  z-index: -1;
}

.fitness_h{
  transform: scale(0.1%);
  position: absolute;
  font-size: 22px;
  font-weight: lighter;
  color: white;
  align-items: center;
  top: 390px;
  left: 785px;
  text-align: center;
}

.totale_bianco {
  position: absolute;
  top: 570px;
  width: 100%;
  height: 2000px;
  background: white;
}

.contenitore_articoli {
  position: absolute;
  left: 2%;
  width: 76%;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  margin-top: 165px;
}

.articolo {
  width: 31%;
  margin-right: 2%;
  margin-bottom: 2%;
  position: relative;
  transform: scale(1);
  transition: 0.5s;
}

.articolo:hover{
  transform: scale(1.02);
  transition: 0.5s ease-in-out;
}

.articoloContenitoreInterno {
  overflow: hidden;
}

.articoloContenitoreInterno:hover {
  box-shadow: 5px 5px 10px 2px #333333;
}

.articoloContImg {
  overflow: hidden;
  width: 100%;
}

.articleImg {
  transform: scale(1);
  transition: 1s ease-in-out;
  width: 100%;
  cursor: pointer;
}

.articleImg:hover {
  transform: scale(1.2);
}

.data {
  width: 70px;
  height: 70px;
  background: black;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.giorno:hover {
  color:red;
}

.giorno {
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  width: 100%;
  margin-top: 6px;
  color: white;
  cursor:default;
}

.articolo h2 {
  width: 100%;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  font-weight:bolder;
  padding: 3% 3%;
  background: white;
  color: black;
}

.articolo h2:hover {
  /* text-shadow: 1px 1px  #000000; */
  color:red;
  transform: scale(1.02);
}

.articolo a {
  text-decoration: none;
}

.content {
  width: 100%;
  text-align: justify;
  padding: 3% 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  color: rgb(123, 123, 123);
  background: white;
}

/* START: this is for the real articole START*/
.realArtContainer {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 200px;
  align-self: center;
  justify-content: center;
}

.realArticleDiv {
  width: 50%;
  justify-content: center;
  display: block;
}

.realArticleTitle {
text-align: center;
/* background: green; */
}

.realArticleContent {
text-align: justify;
/* background: pink; */
}
/* END: IT WAS for the real articole END*/

.img_aa {
  position: absolute;
  top:150px;
  right:-70px;
  transform: scale(0.75);
  box-shadow: 5px 5px 10px 2px #333333;:
}

/* .palline {
  position: absolute;
  top: 650px;
  right: 45px;
  width: 350px;
  height: 340px;
  transform: scale('0.5');
  background: grey;
}

.alimentazione, .focus, .fitness {
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 10px 2px #333333;
  text-align: center;
  color:white;
  font-weight: bolder;
}

.alimentazione {
  right: 190px;
  top:0px;
  background-image: linear-gradient(to right bottom, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
  width: 200px;
  height: 200px;
  line-height: 200px;
}

.focus {
  right:  75px;
  top:85px;
  background-image: linear-gradient(to left, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
  width: 110px;
  height: 110px;
  line-height: 110px;
}

.fitness {
  right:120px;
  top:185px;
  background-image: linear-gradient(to top, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);  width: 150px;
  height: 150px;
  line-height: 150px;
} */

.container2 {
  position: absolute;
  top: 165px ;
  right: 2%;
  width: 20%;
  height: 400px;
}

.black {
  background: black;
  opacity: 1;
 transition: opacity 0.5s ease-in-out;
 -moz-transition: opacity 0.5s ease-in-out;
 -webkit-transition: opacity 0.5s ease-in-out;
 transform: scale(1);
 transition: 0.5s;
}

.black:hover{
  background: linear-gradient(to top right, black 45%, white 100%);
  transform: scale(1.03);
  transition: 0.5s ease-out;
  opacity: 1;
}

.uno, .due, .tre, .quattro {
  width: 100%;
  height:70px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: bolder;
  font-size: 1.7vw;
  text-align: center;
  line-height: 70px;
  box-shadow: 5px 5px 10px 2px #333333;
  cursor: pointer;
  background: linear-gradient(to right,white 50%, red 50%, red);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-out;
  z-index: 10;
}

.uno, .due {
  padding-top: 16px;
  line-height: 20px;
}

.uno:hover , .due:hover , .tre:hover , .quattro:hover {
background-position: -100%;
}



@media (min-width:800px) and (max-width:500px) {
  .data {
    background: pink;
  }


@media (min-width:100px) and (max-width:499px) {
    .data {
      background: green;
    }

    .contenitore_articoli {
      width: 100%;
    }

    .articolo {
      width: 80%;
      margin:1% 1%;
    }
}
