
.totale_bianco {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 30px;
  z-index: 1;
}

.contattami{
  width:400px;
}

.contenitore_articoli {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding-bottom: 100px;
  padding-top: 50px;
  padding-left:20px;
  padding-right:20px;
  background:rgb(242, 238, 237);
}

.titoloArticolo {
  color:rgb(186, 25, 13);
  padding-top: 30px;
  padding-bottom: 10px;
  width:100%;
  background: white;
}
/* segue un border stadard per il primo contenitore*/
.borderRed {
  border: 1px solid rgb(186, 25, 13);
}

.articleDate {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  background: white;
  font-size: 15px;
  color: grey;
}

.indice{
  margin-top: 30px;
  width:100%;
  margin-left: 0;
  padding-left: 5px;
  padding-bottom: 7px;
  color:black;
  counter-reset: li;
  background: white;
}

.indice li {
  display: grid;
  counter-increment: li;
  grid-template-columns: 20px 1fr;
  width:100%;
  text-align: left;
  text-shadow: none;
  color:black;
  padding-top: 7px;
}

li::before {
  content: counter(li) ".";
  text-align: left;
  font-weight: bold;
}

.indice a {
  color:black;
  font-weight: bold;
  font-size: 20px;
}

.tornaIndice{
  width: 100%;
  text-align: left;
  font-size: 15px;
  padding-left: 5px;
}

.para {
  background: white;
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

h2 {
  color: rgb(186, 25, 13);
}

.widthText{
  width: 100%;
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 30px;
  background: white;
}

.tip{
  /* background: rgb(250, 250, 110);
  background-image: linear-gradient(
    185deg,
    hsl(0deg 0% 100%) 0%,
    hsl(45deg 100% 81%) 50%,
    hsl(47deg 100% 58%) 100%
  ); */

  border:1px solid black;
  width: 90%;
  position:relative;
  margin-top: 20px;
  overflow: hidden;
  background-color: rgb(246,310,62);
  background-color: rgb(254,207,47);

  /* background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */

}

.dettaglio{
  border:1px solid black;
  width: 90%;
  position:relative;
  margin-top: 1px;
  overflow: hidden;
  background-color: #08e1ae;
  background-color:#00ff00

  /* background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%); */
}

span {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.light{
  /* border:2px solid black; */
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* il margin-left è solo 5 erchè già
  ci sono altri 5 di padding del contenitore in cui è
  inserita il light */
  margin-left: 5px;
  margin-right: 10px;
  display: block;
}

.img_1 {
  width: 350px;
  /* height: 200px; */
  border: 1px solid black;
  background: green;
  margin-top: 30px;
  /* margin-bottom: 30px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_2 {
  width: 98%;
  border: 1px solid black;
  background: green;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_3 {
  width: 100%;
  border: 1px solid black;
  background: green;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_4 {
  width: 200px;
  border: 1px solid black;
  background: green;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_5 {
  width: 200px;
  border: 1px solid black;
  background: green;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.img_6 {
  width: 200px;
  border: 1px solid black;
  background: green;
  float: right;
}

.img_7 {
  width: 98%;
  border: 1px solid black;
  background: green;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



@media (min-width:585px) and (max-width:950px) {

  .totale_bianco {
    flex-wrap: wrap;
  }

  .contattami {
    width:100%;
  }

  .contenitore_articoli {
    width: 100%;
  }
}


@media (min-width:0px) and (max-width:584px) {

  .totale_bianco {
    flex-wrap: wrap;
  }

  .contattami {
    width:100%;
  }

  .contenitore_articoli {
    width: 100%;
  }

  .testo1Contattati {
    margin-top: 50px;
  }

.labelCuriosita {
  display: flex;
  align-items: center;
  position: relative;
  /* border-bottom: 2px solid black; */
}

.labelCuriosita:after {
   content:" ";
   background: url(../../svg/frecciaGiu.svg) no-repeat center center;
  /* aaa nell'after ci vuole per forza una grandezza se imposti il bacground senza content */
   width:30px;
   height: 30px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%) scale(1.5);
   right:10px;
   /* z-index: 100000; */
 }

.contentHidden {
  overflow: hidden;
  height: 0;
  overflow-y: auto;
  background-color: #ffffe6;
  padding-left: 10px;
  padding-right: 10px;
}



.colorContentDettaglio {
  background-color: #e6ffe6 ;
  padding-left:10px;
  padding-right: 10px;
}

.hidden.active .contentHidden{
  height:auto;
  transition: 0.5s;
}

.hidden.active .labelCuriosita:after{
  content:" ";
  background: url(../../svg/frecciaSu.svg) no-repeat center center;
 /* aaa nell'after ci vuole per forza una grandezza se imposti il bacground senza content */
  width:30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
  right:10px;
  /* z-index: ; */
  }
}
