

.contattami {
  display: flex;
  flex-wrap: wrap;
  background: black;
  justify-content: center;
  align-items:flex-start;
}

.insideContattami{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: sticky;
  top:0px;
}

.testo1Contattati {
  font-size: 30px;
  /* INSERENDO IL 400PX IL DIV RESTA COSI LARGO nell'elemento
   flex fino a quando non gli dico di essere diversamente */
  width: 400px;
  text-align: center;
  color: white;
  margin-top: 150px;
  top:150px;
  /* shorthand padding: il primo è
  per top e bottom, il secondo
  è per left and right */
  padding: 0px 20px;
}


.emailSection{
  width: 90%;
  margin-top: 50px;
  height: 230px;
  background: rgb(186, 25, 13);
  box-shadow: 5px 5px 10px 2px #333333;
}

.emailIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.mailContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.mailDiv {
  display: flex;
  justify-content: center;
}

.testoInserisci {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.emailUser {
  border: none;
  height: 40px;
  width: 200px;
}

.emailSubmit {
font-size: 20px;
font-weight: bold;
background: #ffd000;
color: black;
border:none;
width: 60px;
line-height: 40px;
text-align: center;
}

@media (min-width:585) and (max-width:950px) {
  .testo1Contattati {
    width: 100%;
  }
}
